%ul.nav.navbar-nav
  %li.dropdown
    %a{ href: '#fixme' }
      %span= t('.fixme')
%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a{ href: '#fixme' }
      %span= t('.fixme')
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %span
        = t('.fixme')
        = icon('angle-down')
    %ul.dropdown-menu
      %li
        %a{ href: '#fixme' }
          %span= t(".fixme")

  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %span
        = t('.account')
        = icon('angle-down')
    %ul.dropdown-menu
      %li
        %a{ href: edit_user_registration_path }
          %span= t(".edit_account")
      %li
        %a{ href: edit_user_registration_path(change_password: '') }
          %span= t(".change_password")
      -#%li.divider
      %li
        %a{ href: destroy_user_session_path, data: { method: :delete } }
          %span= t(".sign_out")
