.col-sm-6.col-sm-offset-3
  .container-fluid
    %h1
      %span.fa.fa-lock
      = t('.title')
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put, class: "form-user" } do |f|
      .row
        .col-xs-12
          = f.error_notification
          = f.input :current_password, required: true
          = f.input :password, required: true, label: t('.password')
          = f.input :password_confirmation, required: true

      .row
        .col-xs-12
          = hidden_field_tag :change_password
          = f.button :submit
